@{
    ViewData["Title"] = "Table " + ViewBag.Title;
}
@model Blood_parameters.Models.MedicalConditionsTable

@section Breadcrumbs {
    <div class="flex-left breadcrumb">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Головна</a>
        <span>></span>
        <a class="nav-link" asp-area="" asp-controller="Administrator" asp-action="Index">Адміністратор</a>
        <span>></span>
        <a class="nav-link" asp-area="" asp-controller="Administrator" asp-action="Index" asp-fragment="EditTables">Редагування таблиць БД</a>
        <span>></span>
        <a class="nav-link" asp-area="" asp-controller="Administrator" asp-action="MedicalConditions">Медичні показання</a>
    </div>
}

    @section Styles {
    @Html.Raw(MyHtmlHelper.BootstrapTableStyles(this.Context))
}

    <div>
        <div>
        @if (ViewBag.Error != null)
        {
            <div>@ViewBag.Error</div>
        }
        @Html.ValidationSummary()

        <table class="width100">
            <tr>
                <td>
                    @using (Html.BeginForm("MedicalConditionsAdd", "Administrator", FormMethod.Post))
                    {
                        <table>
                            <tr><td>ID пацієнта:</td><td>@Html.TextBoxFor(x => x.add.PatientId)</td></tr>
                            <tr><td>ID лікаря:</td><td>@Html.TextBoxFor(x => x.add.DoctorId)</td></tr>
                            <tr><td>Скарги пацієнта:</td><td>@Html.TextBoxFor(x => x.add.Complaints)</td></tr>
                            <tr><td>Медична історія:</td><td>@Html.TextBoxFor(x => x.add.MedicalHistory)</td></tr>
                            <tr><td>Клінічна історія:</td><td>@Html.TextBoxFor(x => x.add.ClinicalHistory)</td></tr>
                            <tr><td>Об’єктивний стан пацієнта:</td><td>@Html.TextBoxFor(x => x.add.ObjectiveCondition)</td></tr>
                        </table>
                        <input type="submit" value="Додати" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("MedicalConditionsUpdate", "Administrator", FormMethod.Post))
                    {
                        <table>
                            <tr><td>Де ID:</td><td>@Html.TextBoxFor(x => x.update.Id)</td></tr>
                            <tr><td>ID пацієнта:</td><td>@Html.TextBoxFor(x => x.update.PatientId)</td></tr>
                            <tr><td>ID лікаря:</td><td>@Html.TextBoxFor(x => x.update.DoctorId)</td></tr>
                            <tr><td>Скарги пацієнта:</td><td>@Html.TextBoxFor(x => x.update.Complaints)</td></tr>
                            <tr><td>Медична історія:</td><td>@Html.TextBoxFor(x => x.update.MedicalHistory)</td></tr>
                            <tr><td>Клінічна історія:</td><td>@Html.TextBoxFor(x => x.update.ClinicalHistory)</td></tr>
                            <tr><td>Об’єктивний стан пацієнта:</td><td>@Html.TextBoxFor(x => x.update.ObjectiveCondition)</td></tr>
                        </table>
                        <input type="submit" value="Оновити" />
                    }

                </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td>
                    @using (Html.BeginForm("MedicalConditionsDelete", "Administrator", FormMethod.Post))
                    {
                        <table>
                            <tr><td>Видалити запис:</td><td>@Html.TextBoxFor(x => x.id) </td></tr>
                        </table>
                        <input type="submit" value="Видалити запис" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("MedicalConditionsFillUpdate", "Administrator", FormMethod.Post))
                    {
                        <table>
                            <tr><td>ID:</td><td>@Html.TextBoxFor(x => x.fillUpdate)</td></tr>
                        </table>
                        <input type="submit" value="Заповнити поля оновлення" />
                    }
                </td>
            </tr>
        </table>
    </div>

    @Html.Raw(MyHtmlHelper.BootstrapTableBody(ViewBag.Head,ViewBag.Table))
</div>


@section Scripts {
    @Html.Raw(MyHtmlHelper.BootstrapTableScripts(this.Context,ViewBag.Head))
}